*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.app {
    height: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px; 
}

header p {
    font-size: 20px;
}

.pads {
    background: green;
    width: 100%;
    display: flex;  
}

.pads > div {
    height: 100px;
    width: 100px;
    flex: 1;
    
}

.pad1 {
    background-color: black;
}

.pad2 {
    background-color: brown;
}

.pad3 {
    background-color: green;
}

.pad4 {
    background-color: grey;
}

.pad5 {
    background-color: deeppink;
}

.pad6 {
    background-color: khaki;
}

.pad7 {
    background-color: lime;
}

.pad8 {
    background-color: violet;
}

.pad9 {
    background-color: mediumseagreen;
}

